@import "src/assets/Colors/colors";


@mixin homeButton {
  transition: ease-out 0.3s;
  position: relative;
  z-index: 1;
  width: 160px;
  cursor: pointer;
  height: 50px;
  outline: none;
  border: none;
  background: $accentColor;
  text-align: center;
  text-transform: uppercase;
  color: $bgColor;
  letter-spacing: 2px;

  border-radius: 6px;
  a {
    text-decoration: none;
  }
  &:before {
    display: block;
    transition: 0.5s all ease;
    position: absolute;
    border-radius: 6px;
    top: 0;
    left: 0;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: '';
    background: $redFill;
  }

  &:hover {
    color: white;
    cursor: pointer;
    border-radius: 6px;

    &:before {
      border-radius: 6px;
      transition: 0.5s all ease;
      left: 0;
      right: 0;
      opacity: 1;
      z-index: -5;

    }
  }

}

@mixin seeMenu {
  cursor: pointer;
  margin: 0 auto;
  width: 100%;
  position: relative;
  padding: 10px;
  border-radius: 6px;
  background: none;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  outline: none;

  color: $textColor;
  border: 1px solid $accentColor;

  &:hover {
    background: lighten($accentColor, 2%);
    color: $bgColor;

  }
}

@mixin orderBtn {
  cursor: pointer;
  margin: 0 auto;
  width: 100%;
  position: relative;
  padding: 10px;
  border-radius: 6px;
  background: none;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  outline: none;
  border:none;
  background: $accentColor;
  color: $bgColor;
  &:hover {
    background: $redFill;
    color: $textColor;
  }
}
